{% extends 'base.html' %}

{% block title %} About {% endblock %}
    
{% block content %}
<div class="container">
    <h1>About Us </h1>
    <br> <br>
    <div class="about">
        <p>
        With the hobby of sharing my knowledge, I want to share my knowledge with everyone. 
        My goal is to share my knowledge widely in the areas of programming, autocad drawing, 
        all tips of computer knowledge. 
        Knowledge is widely spread, interesting and useful !
        A product of AutoCAD 3D as below image.
        </p>

    </div>
</div>   
{% endblock %}
    